In [1]:
import sys
sys.path.append('../src/models')  # Ajusta o caminho relativo para alcançar o diretório modelos

from tabela_experimentos import TabelaExperimentos
from tabela_modelos import TabelaModelos

In [2]:
# Caminho para o banco de dados
db_path = '../dbs/meu_banco_de_dados.db'  # Ajuste conforme necessário

experimentos = TabelaExperimentos(db_path)
experimento_id = experimentos.add_experiment('Experimento Teste', 'Projeto Teste')
print(f"Experimento adicionado com ID: {experimento_id}")

# Tentando adicionar o mesmo experimento novamente
experimento_id_2 = experimentos.add_experiment('Experimento Teste', 'Projeto Teste')
print(f"Segunda tentativa de adição retornou o ID: {experimento_id_2}")


# Exibindo todos os experimentos
df_experimentos = experimentos.to_dataframe()
display(df_experimentos)

Experimento já existe. Retornando o ID existente.
Experimento adicionado com ID: 1
Experimento já existe. Retornando o ID existente.
Segunda tentativa de adição retornou o ID: 1

   ID               Nome        Projeto
0   1  Experimento Teste  Projeto Teste

### Teste tabela modelos

In [3]:
# Exemplo de uso da classe TabelaModelos
modelos = TabelaModelos(db_path)

# Adicionando um modelo
id_experimento = 1  # ID de um experimento existente
parametros = {'n_estimators': 100, 'max_depth': 2}
semente = 42

# Primeira tentativa de adicionar o modelo
modelo_id_1 = modelos.add(id_experimento, parametros, semente)
print(f"Primeira adição retornou o ID do modelo: {modelo_id_1}")

# Segunda tentativa de adicionar o mesmo modelo
modelo_id_2 = modelos.add(id_experimento, parametros, semente)
print(f"Segunda adição retornou o ID do modelo: {modelo_id_2}")

# Verifica se os IDs retornados são iguais
if modelo_id_1 == modelo_id_2:
    print("Teste PASSOU: o mesmo modelo não foi duplicado.")
else:
    print("Teste FALHOU: modelos duplicados foram criados.")
# Convertendo todos os modelos para um DataFrame
df_modelos = modelos.to_dataframe()
display(df_modelos)

# Realizando uma consulta personalizada
df_filtrado = modelos.query("ID_Experimento == 1")
display(df_filtrado)

Primeira adição retornou o ID do modelo: 1
Segunda adição retornou o ID do modelo: 1
Teste PASSOU: o mesmo modelo não foi duplicado.

,ID,ID_Experimento,Parametros,Semente,Hash
0,1,1,"{""max_depth"": 2, ""n_estimators"": 100}",42,4942c14cf53b32449f7e49fe9e022e52

,ID,ID_Experimento,Parametros,Semente,Hash
0,1,1,"{""max_depth"": 2, ""n_estimators"": 100}",42,4942c14cf53b32449f7e49fe9e022e52

### Tabela Execuções

In [4]:
from tabela_execucoes import TabelaExecucoes

# Cria uma instância da TabelaExecucoes
execucoes = TabelaExecucoes(db_path)

# Adiciona um registro de execução
id_modelo = 1  # Supõe-se que este ID de modelo já exista no banco de dados
rodada = 1
acuracia = 0.95
f1_score_macro = 0.96
tempo_processamento = 120.5  # Segundos
estatisticas = {"loss": 0.25}

execucoes.add(id_modelo, rodada, acuracia, f1_score_macro, tempo_processamento, estatisticas)

# Converte todos os registros de execução para um DataFrame e exibe
df_execucoes = execucoes.to_dataframe()
print(df_execucoes)

   ID  ID_Modelo  Rodada  Acuracia  F1ScoreMacro  TempoProcessamento  \
0   1          1       1      0.95          0.96               120.5

          DataExecucao    Estatisticas
0  2024-02-23 17:42:10  {"loss": 0.25}